*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #57CC99;
    width: 100%;
}
nav ul{
    margin: auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
nav ul li{
    width: 100%;
    padding: 5px;
    margin: 0px auto;
    font-size: 1.25rem;
    text-align: center;
}
nav ul li a{
    text-decoration: underline;
    color: black;
}
#top-logo{
    left: 45%;
    max-height: 100px;
    background-color: aliceblue;
}
footer{
    background-color: #737373;
    color: #e6e6ff;

}
footer section a{
    color: #e6e6ff;
    text-decoration: none;
}
footer .flex{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 2.2;
  
  padding-bottom: 15px;
}
footer .fcenter{
    text-align: center;
    background-color: #666666;
    padding-top: 25px;
    padding-bottom: 25px;
     box-shadow: 10px #262626; 
}
footer a:hover {
  color: #ffe033;
  font-size: 20px;
  text-shadow: 2px 2px 5px #fff4b3;
}

