*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #57CC99;
    justify-content: space-between;
    display: flex;
    height: 70px;
    border: 2px solid darkgreen;
    box-shadow: 2px 2px 2px grey; 
}
nav ul{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
nav ul li{
    padding: 5px;
    margin: 5px;
    text-align: center;
}
nav ul li a{
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    font-size: 1.6rem;
    text-decoration: underline;
}
#left-nav
{   
    width: 35%;
    justify-content: flex-start;
}
#right-nav {
    width: 35%;  
    justify-content: flex-end;
}
#top-logo{
    background-color:transparent;
    width: 20%;
    position: absolute;
    left: 40%;
    z-index: 1;
    display: none;
}
footer {
    background-color: #22577A;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
footer ul{
    color: azure;
    padding-left: 2%;
    list-style: none;
}
footer img{
    border-radius: 15%;
    height: 125px;
    width: 125px;
    background-color: white;
    position: relative;
    right: 5%;
    top: 5%;
}