*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #57CC99;
    justify-content: space-between;
    display: flex;
    height: 70px;
    border: 2px solid darkgreen;
    box-shadow: 2px 2px 2px grey; 
}
nav ul{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
nav ul li{
    padding: 5px;
    margin: 5px;
    text-align: center;
}
nav ul li a{
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    font-size: 1.6rem;
    text-decoration: underline;
    color: black;
}
#left-nav
{   
    width: 35%;
    justify-content: flex-start;
}
#right-nav {
    width: 35%;  
    justify-content: flex-end;
}
#top-logo{
    background-color:transparent;
    width: 20%;
    position: absolute;
    left: 40%;
    z-index: 1;
    
}

/*Below sections are for calender*/
.motion-section{
    font-family: 'Noto Serif', serif;
    margin: 20px 0px;
}
.col-md-3{
    border-right: 1px solid black;
    margin-bottom: 15px;
    font-weight: 700;
    padding: 20px 0px;
}
.motion-section h1{
   margin-bottom: 25px;
}
.row h1 span{
   border-bottom: 5px solid black;
}
.motion-right span{
    float: right;
    background-color: lightgreen;
    border-radius: 19px;
    padding: 8px 20px;
}
.motion-section a{
    text-decoration: none;
}
/*calender section ends*/

footer{
    background-color: #737373;
    color: #e6e6ff;

}
footer section a{
    color: #e6e6ff;
    text-decoration: none;
}
footer .flex{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 2.2;
  
  padding-bottom: 15px;
}
footer .fcenter{
    text-align: center;
    background-color: #666666;
    padding-top: 25px;
    padding-bottom: 25px;
     box-shadow: 10px #262626; 
}
footer a:hover {
  color: #ffe033;
  font-size: 20px;
  text-shadow: 2px 2px 5px #fff4b3;
}